$main-color: #f26d00;
$text-color: white;
$linkColor: rgb(199, 106, 246);

// * OVERRIDE NAVBAR
$nav-link-color: #ffffff;
$navbar-hover-color: $linkColor;
// $navbar-brand-hover-color: red;
// $navbar-color: #2bb05c;
// $navbar-hover-color: rgba(34, 174, 12, 0.7);
// $navbar-disabled-color: rgba(203, 8, 8, 0.3);
// $navbar-active-color: rgba(0, 0, 0, 0.9);

// $navbar-brand-color: rgba(0, 0, 0, 0.9);
// $navbar-brand-hover-color: rgba(0, 0, 0, 0.9);

// $navbar-toggler-border-color: rgba(0, 0, 0, 0.1);

// $navbar-hover-color: #2bb05c;
